<div class="panel panel-info" id="device-motion-info">
  <div class="panel-heading">
    <a class="close">×</a>
    <h3 class="panel-title">Info</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= x %></span>
      X value
    </li>
    <li class="list-group-item">
      <span class="badge"><%= y %></span>
      Y value
    </li>
    <li class="list-group-item">
      <span class="badge"><%= z %></span>
      Z value
    </li>
    <li class="list-group-item">
      <span class="badge"><%= change %></span>
      change
    </li>
    <li class="list-group-item">
      <strong>Action:</strong> <%= action %>
    </li>
  </ul>
</div>
